<div class="container d-flex justify-content-center">
    <form class="col-12 col-md-6 d-flex form-container" autocomplete="off" novalidate>
      <h2>Contact Admin</h2>
      <div class="mb-3">
        <label for="host-email" class="form-label">Host Email</label>
        <input id="host-email" name="host-email" type="email" value="zayyin.alfar1@gmail.com"
          placeholder="zayyin.alfar1@gmail.com" class="form-control" aria-describedby="host-email-desc" />
        <div id="host-email-desc" class="form-text italic">
          Kosongkan jika tidak membutuhkan notifikasi email.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" value="zayyin.alfar1@gmail.com"
          placeholder="zayyin.alfar1@gmail.com" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="email-password" class="form-label">Kata Sandi Email</label>
        <input id="email-password" name="email-password" type="password" value="***********" placeholder="***********"
          class="form-control" />
      </div>

      <div class="mb-3">
        <label for="payment-method" class="form-label">Pilih Pembayaran</label>
        <select id="payment-method" name="payment-method" class="form-select" aria-label="Pilih Pembayaran">
          <option disabled selected>Pilih salah satu</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="whatsapp-token" class="form-label">Token What’sApp Gateway</label>
        <input id="whatsapp-token" name="whatsapp-token" type="text" value="720f91719af7632f1783305a6fbb1c0b65729755"
          placeholder="720f91719af7632f1783305a6fbb1c0b65729755" class="form-control fst-italic text-secondary" />
      </div>

      <div class="mb-5">
        <label for="whatsapp-message" class="form-label">Pesan What’sApp</label>
        <input id="whatsapp-message" name="whatsapp-message" type="text" value="Hello Admin Ganteng ,Saya Mau bertanya."
          placeholder="Hello Admin Ganteng ,Saya Mau bertanya." class="form-control" />
      </div>

      <button type="submit" class="btn btn-simpan">Simpan</button>
    </form>

</div>
