<body>
  <div class="container py-5">
    <div class="title-container">
      <h2>
        <strong>
          Undangan
        </strong>
        <span>
          Website
        </span>
      </h2>
      <div class="underline-container">
        <hr />
        <div class="heart">
          <i class="fas fa-heart">
          </i>
        </div>
      </div>
    </div>
    <!-- <a class="see-more">Lihat Lebih Banyak Lagi</a> -->

    <div class="row">
      <!-- Invitation Card 1 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="invitation-card">
          <img src="assets/videotmp1.svg" alt="Undangan Pernikahan" class="invitation-img">
          <div class="elegant-badge">Elegant</div>
        </div>
        <a class="demo-button">
          <i class="far fa-eye"></i> Demo Video Undangan
        </a>
      </div>

      <!-- Invitation Card 2 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="invitation-card">
          <img src="assets/videotmp2.svg" alt="Undangan Pernikahan" class="invitation-img">
          <div class="elegant-badge">Elegant</div>
        </div>
        <a class="demo-button">
          <i class="far fa-eye"></i> Demo Video Undangan
        </a>
      </div>

      <!-- Invitation Card 3 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="invitation-card">
          <img src="assets/videotmp3.svg" alt="Undangan Pernikahan" class="invitation-img">
          <div class="elegant-badge">Elegant</div>
        </div>
        <a class="demo-button">
          <i class="far fa-eye"></i> Demo Video Undangan
        </a>
      </div>

      <!-- Invitation Card 4 -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="invitation-card">
          <img src="assets/videotmp4.svg" alt="Undangan Pernikahan" class="invitation-img">
          <div class="elegant-badge">Elegant</div>
        </div>
        <a class="demo-button">
          <i class="far fa-eye"></i> Demo Video Undangan
        </a>
      </div>
    </div>
  </div>

</body>
