<div class="container-custom d-flex flex-column flex-lg-row align-items-center justify-content-between">
  <div class="text-content pe-lg-5 flex-grow-1">
    <h1 class="heading-1 mb-0">
      <span class="pink">
        1778
      </span>
      <span class="dark">
        PASANGAN
      </span>
      <br />
      <span class="pink">
        BERBAHAGIA
      </span>
    </h1>
    <p class="subheading mt-2 mb-0">
      Menggunakan Layanan Kami, Sekarang Giliran Anda
    </p>
  </div>
  <div class="images-wrapper mt-4 mt-lg-0">
    <div class="left-images">
      <img
        alt="Couple in beige outfits standing in a green field with misty background, woman leaning on man's shoulder"
        class="img-main" height="300" src="assets/landing_page1.png" width="220" />
    </div>
    <div class="middle-images d-flex flex-column justify-content-between">
      <div class="mb-3">
        <img alt="Couple standing by a fence outdoors, man wearing a hat and woman in a hijab, both smiling"
          class="img-small" height="160" src="assets/landing_page2.png" width="160" />
      </div>
      <div>
        <img
          alt="Couple in formal wedding attire, man in black suit and woman in white wedding dress with hijab, standing side by side"
          class="img-small" height="200" src="assets/landing_page3.png" width="160" />
      </div>
    </div>
    <div class="right-images d-flex flex-column justify-content-center">
      <img
        alt="Black and white photo of a couple standing side by side, man wearing traditional hat and woman in white blouse"
        class="img-small" height="160" src="assets/landing_page4.png" width="160" />
    </div>
  </div>
</div>
<div class="container-custom d-flex justify-content-center align-items-center mt-4 mt-lg-5">
  <button class="btn btn-pink" (click)="clickGenerateUndangan()">
    Buat Undangan Sekarang
  </button>
</div>
<!-- </body> -->
