<div class="section-footer">
    <div class="row">
        <div class="cards-container">
            <div class="wc__hero">
                <div class="wc__hero-content">
                    <h1>Filter Instagram</h1>
                    <h1 style="color: white;">Sudah Tersedia</h1>
                    <p>Lebih interaktif dan berbagi
                        moment indah para tamu 
                        undangan kalian!</p>
                </div>
            </div>
                
           
            <div class="container-section">
                <ul class="cards">
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 1</h3>
                            <div class="card-content">
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 2</h3>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 3</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 4</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 5</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 6</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 7</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <li class="card">
                        <img src="/assets/filter-instagram.svg" alt="">
                        <!-- <div>
                            <h3 class="card-title">Service 8</h3>
                            <div class="card-content">
                                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="" class="card-link">Learn More</a>
                        </div> -->
                    </li>
                    <!-- Add more cards as needed -->
                </ul>
            </div>
        </div>
    </div>
</div>