<section class="section">
    <div class="container">
        <div class="wc__features">
            <div class="wc__features-heading">
                <h2 style="color: #FF84AD;">
                    <p><b style="color: black;">Mengapa</b> Undangan <b style="color: black;">Digital?</b></p>
                    <img src="/assets/love-border.svg" alt="">
                    <p style="color: #7F1414; font-size: 14px;">Apa saja keuntungan menggunakan undangan digital berbasis website</p>
                </h2>
            </div>
            <div class="wc__features-content">
                <div class="wc__features-content_feature">
                    <img src="/assets/feature1.svg" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>Mudah, Cepat & Murah</h3>
                        <p>Gak perlu nunggu lama membuat undangan, dan kamu juga sudah bisa bikin undangan online dengan harga termurah.</p>
                    </div>
                </div>
                <div class="wc__features-content_feature">
                    <img src="/assets/feature2.svg" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>Mudah Menentukan Domain</h3>
                        <p>Mudah membuat URL unik untuk website
                            undangan kamu, dengan menggunakan kata - kata sesuai dengan keinginan kamu</p>
                    </div>
                </div>
                <div class="wc__features-content_feature">
                    <img src="/assets/feature3.svg" alt="">
                    <div class="wc__features-content_feature-text">
                        <h3>Sebarkan Undangan kamu</h3>
                        <p>Jangkau tamu undangan lebih banyak, kamu dapat membagikan di mana dan kapan saja dengan mudahnya kamu share di social media</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-container>
    <wc-feature-footer></wc-feature-footer>
</ng-container>