<section class="section bg-gradient">
    <div class="container">
        <wc-navbar></wc-navbar>
        <div class="wc__hero">
            <div class="wc__hero-content">
                <h1>Platform</h1>
                <h1>Pernikahan</h1>
                <h1
                    style="background: linear-gradient(248.12deg, #486EF0 0%, #3CA6F9 100%);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                    Digital</h1>
                <p>Solusi pernikahan lebih hemat, praktis, dan kekinian dengan
                    e-invitation yang disebar otomatis.</p>
                <div class="wc__hero-content_cta">
                    <button (click)="clickGenerateUndangan()">Buat sekarang</button>
                </div>
            </div>

            <div class="wc__hero-image">
                <img src="/assets/laptop.svg" alt="Featured Image">
            </div>

        </div>
    </div>
</section>

<ng-container>
    <wc-footer-hero></wc-footer-hero>
</ng-container>